.mapboxgl-marker {
  margin-left: -15px;
  margin-top: -30px;
}

.mapboxgl-popup {
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mapboxgl-popup-content {
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mapboxgl-popup-content img {
  max-width: 100%;
}

.mapboxgl-popup-tip {
  display: none;
}
