/* Top Level */
body {
  margin:0;
  padding:0;
}

/* Panes */
.map {
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  z-index:1;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.map-info {
  position:fixed;
  top:0;
  bottom:0;
  left:100%;
  width:100%;
  z-index:1;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
}

.map-list {
  position:fixed;
  top:0;
  bottom:0;
  right:100%;
  width:100%;
  z-index:1;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
}

/** Map Info Pane and Buttons **/
/* Toggle Button */
.control {
  z-index:3;
  width:48px;
  height:48px;
  background-color:white;
  border-radius:25px;
  font-size:24px;
  text-align: center;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

.control i {
  padding-top:12px;
}

.map-info-toggle {
  position:absolute;
  bottom:20px;
  right:10px;
}

.map-list-toggle {
  position:absolute;
  bottom:20px;
  left:10px;
}

.map-toggle-info {
  position:fixed;
  bottom:20px;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  left:calc(100% + 10px);
}

.map-toggle-list {
  position:fixed;
  bottom:20px;
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  right:calc(100% + 10px);
}
