@media (min-width: 800px) {

.map-info {
  width: 500px;
}

.map-list {
  left: -300px;
  width: 300px;
}

.mapboxgl-popup {
  top: 20px;
  left: 20px;
  min-width: 500px;
}

.mapboxgl-popup-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.map-list {
  background-color: rgba(0, 0, 0, 0.5);
}
.map-list-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

}
